@use "../utils" as u;

.benefits {
  background-color: var(--old-lace);

  h2 {
    margin-bottom: 1.2rem;
    font-weight: 700;
    color: var(--dark-cerulean);
    text-align: left;

    @include u.breakpoints-up(large) {
      font-size: 3rem;
    }
  }

  p {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    font-weight: 400;
    line-height: 150%;

    &::before {
      content: "";
      background-image: url(src/assets/icons/general/icon-check.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 1.5rem;
      width: 1.5rem;
      padding-right: 1rem;
      margin-top: 0.25rem;
      margin-right: 0.5rem;
    }
  }

  .img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 263px;
    width: 100%;
    border-radius: 1rem;

    @include u.breakpoints-up(large) {
      flex: 1.5;
    }

    @include u.breakpoints-up(medium) {
      height: 36rem;
      max-width: 100%;
    }
  }

  .gap {
    gap: 4rem;
  }

  &__content {
    @include u.breakpoints-up(large) {
      flex: 1.5;
    }
  }

  &__single-platform {
    flex-direction: column;
    margin-bottom: 6rem;

    @include u.breakpoints-up(large) {
      flex-direction: row;
    }
  }

  &__global-team {
    flex-direction: column;

    @include u.breakpoints-up(large) {
      flex-direction: row;
    }
  }

  &__image1 {
    background-image: url(src/assets/images/general/happy-employer.jpg);

    @include u.breakpoints-up(medium) {
      background-position: 88%;
    }
  }

  &__image2 {
    background-image: url(src/assets/images/general/excited-employer.jpg);

    @include u.breakpoints-up(medium) {
      background-position: 41%;
    }
  }

  button {
    padding: 1.2rem;
    border: 0.0625rem solid;
    border-radius: 2rem;
    margin-top: 1.5rem;
  }
}
