@use "../utils" as u;

.login {
  height: 100dvh;
  background-color: var(--dodger-blue);
  background-image: url(src/assets/images/general/desktop.svg);
  background-size: contain;

  &__container {
    position: relative;
    justify-content: space-between;
    height: 100%;
  }

  &__logo {
    position: absolute;
    top: u.rem(17);
    left: 0.8125rem;

    font-size: clamp(u.$font-24, u.$font-16 + 2vw, u.$font-32);
    // color: var(--dark-cerulean);
    color: var(--white);
  }

  // login left section
  &__text-section {
    width: min(100%, 38rem);

    // ToDo: use clamp
    :where(h1, h3) {
      color: var(--white);
      margin-top: u.$font-24;
    }

    h1 {
      font-size: u.$font-48;
    }

    h3 {
      font-size: 1.42rem;
      line-height: 150%;
      font-weight: 400;
    }
  }

  // login right section
  &__form-section {
    position: absolute;
    border-radius: 0.5rem;
    top: 4.5rem;
    width: min(100% - u.$font-24, 27rem);
    height: 38.4375rem;
    background-color: var(--white);

    // center on mobile devices
    @include u.breakpoints-down(medium) {
      left: 50%;
      transform: translateX(-50%);
    }

    // reset to default position and adjust height
    @include u.breakpoints-up(large) {
      position: static;
      height: 34.5rem;
    }
  }

  // for padding
  &__form-content {
    padding-left: u.$font-16;
    padding-right: u.$font-16;
  }

  // ToDo: use the clamp function for font
  &__title {
    margin: u.$font-32 0;
    text-align: center;
    font-size: clamp(u.$font-18, u.$font-12 + 2vw, u.$font-32);
    font-weight: 700;
    color: var(--dark-cerulean);
  }

  &__button {
    border: 0.12rem solid var(--silver-sand);
    border-radius: 0.25rem;
    width: 100%;
    font-weight: 500;
    font-size: u.$font-14;
    color: var(--royal-blue);
    outline: none;
    background: none;

    &:nth-last-of-type(1) {
      border-color: var(--royal-blue);
      background-color: var(--royal-blue);
      color: var(--white);

      &:hover {
        background-color: hsl(224, 72%, 53%);
      }
    }
  }

  &__seperate {
    margin: 2.5rem 0;
    width: 50%;
    height: 0.09375rem; // 1.5px
    background-color: hsl(207, 6%, 64%); // gray
  }

  &__seperate-text {
    margin: 0 u.$font-32;
    font-size: u.$font-14;
  }

  &__using-email {
    text-align: center;
    font-size: u.$font-14;
    font-weight: 500;
    letter-spacing: 0.05;
  }

  &__form {
    margin-top: u.$font-14;
    margin-bottom: u.$font-24;
  }

  &__forgot-password {
    color: var(--royal-blue);
    font-size: u.$font-14;
    text-align: right;
    margin-right: u.$font-12;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &__create-account-txt {
    text-align: center;
    font-size: u.$font-14;
    margin-top: u.$font-24;
    font-weight: 500;

    a {
      color: var(--royal-blue);
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
