@use "../util/" as u;

.input-field {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 3.5rem;
  border: 0.0625rem solid var(--silver-sand);
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 0.0875rem solid var(--blue-green);
  }

  &__text-input {
    min-width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 1.2rem;
    font-size: 1rem;
    transition: all 0.3s ease;

    &::placeholder {
      opacity: 0;
      transition: all 0.3s ease-in-out;
      font-size: u.$font-small;
    }

    &:focus,
    &:valid,
    &:not(:placeholder-shown) {
      height: 50%;
      padding-top: 0.5rem;
      padding-right: 0.5rem;
      padding-bottom: 1rem;

      &::placeholder {
        opacity: 1;
      }

      & ~ label {
        top: 0.5rem;
        font-size: 0.85rem;
        font-weight: 400;
      }
    }
  }

  &__label {
    position: absolute;
    left: 1.3rem;
    top: 1.2rem;
    font-size: u.$font-small;
    transition: all 0.3s ease-in-out;
  }
}
