@use "../util/" as u;

//ToDo:

.reset-password {
  position: relative;
  justify-content: space-between;
  height: 100vh;

  &__logo {
    position: absolute;
    top: u.rem(17);
    left: 0.8125rem;

    font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
    // color: var(--dark-cerulean);
    color: var(--white);
  }

  // left section
  &__text-section {
    width: min(100%, 38rem);

    // ToDo: use clamp
    h1,
    h3 {
      color: var(--white);
      margin-top: 1.5rem;
    }

    h1 {
      font-size: 3rem;
    }

    h3 {
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 150%;
    }
  }

  //right section
  &__form-section {
    position: absolute;
    border-radius: 0.5rem;
    top: 4.5rem;
    width: min(100% - 1.5rem, 27rem);
    height: 30rem;
    background-color: var(--white);
    text-align: center;

    // center on mobile devices
    @include u.breakpoints-down(medium) {
      left: 50%;
      transform: translateX(-50%);
    }

    // reset to default position and adjust height
    @include u.breakpoints-up(large) {
      position: static;
      height: 30rem;
    }
  }

  // back button
  &__back-button {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

  &__back-button-text {
    margin-left: 0.625rem;
    font-size: 0.875rem;
    color: var(--royal-blue);
  }

  &__back-icon {
    width: 1rem;
    aspect-ratio: 1;
    fill: royalblue;
    cursor: pointer;
  }

  // for padding
  &__form-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  // ToDo: use the clamp function for font
  &__title {
    margin: 1rem 0 2rem;
    text-align: center;
    font-size: clamp(1.125rem, 0.75rem + 2vw, 2rem);
    font-weight: 700;
    letter-spacing: -0.5px;
    color: var(--dark-cerulean);
  }

  &__button {
    border: 0.12rem solid var(--silver-sand);
    border-radius: 0.25rem;
    width: 100%;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--royal-blue);
    outline: none;
    background: none;

    &:hover {
      background-color: hsl(219, 91%, 96%);
      border-color: hsla(211, 100%, 50%, 0.5);
    }

    &:nth-last-of-type(1) {
      border-color: var(--royal-blue);
      background-color: var(--royal-blue);
      color: var(--white);

      &:hover {
        background-color: hsl(224, 72%, 53%);
      }
    }
  }

  &__google-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.625rem;
  }

  &__seperate {
    margin: 2.5rem 0;
    width: 50%;
    height: 0.09375rem; // 1.5px
    background-color: hsl(207, 6%, 64%); // gray
  }

  &__seperate-text {
    margin: 0 2rem;
    font-size: 0.875rem;
  }

  &__using-email {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.05;
  }

  &__form {
    margin-top: 0.875rem;
    margin-bottom: 1.5rem;
  }

  &__contact-support-txt {
    text-align: center;
    font-size: 0.875rem;
    margin-top: 1.5rem;
    font-weight: 500;

    a {
      color: var(--royal-blue);
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
