@use "../util/" as u;

//ToDo:

.login {
  position: relative;
  justify-content: space-between;
  height: 100vh;

  &__logo {
    position: absolute;
    top: u.rem(17);
    left: 0.1975rem;

    color: var(--dark-cerulean);
  }

  &__text-section {
    width: min(100%, 40rem);

    // ToDo: use clamp
    h1,
    h3 {
      color: var(--white);
    }

    h1 {
      font-size: 3rem;
    }
  }

  &__form-section {
    position: absolute;
    border-radius: 0.5rem;
    top: 5.3125rem;
    width: min(100% - 1.2rem, 27rem);
    height: 38.4375rem;
    background-color: var(--white);

    // center on mobile devices
    @include u.breakpoints-down(medium) {
      left: 50%;
      transform: translateX(-50%);
    }

    // reset to default position and adjust height
    @include u.breakpoints-up(large) {
      position: static;
      height: 34.5rem;
    }
  }

  // for padding
  &__form-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  // ToDo: use the clamp function for font
  &__title {
    margin: 2rem 0;
    text-align: center;
    font-size: clamp(1.125rem, 0.75rem + 2vw, 2rem);
    font-weight: 700;
    color: var(--dark-cerulean);
  }

  &__button {
    border: 0.12rem solid var(--silver-sand);
    border-radius: 0.5rem;
    width: 100%;
    font-weight: 600;
    color: var(--royal-blue);
    background: none;

    &:nth-last-of-type(1) {
      background-color: var(--royal-blue);
      color: var(--white);
    }
  }

  &__google-icon {
    height: 1.2rem;
    width: fit-content;
    margin-right: 0.625rem;
  }

  &__login-text {
  }

  &__seperate {
    margin: 2.5rem 0;
    width: 100%;
    height: 0.0625rem;
    background-color: hsl(0, 7%, 60%);
  }

  &__seperate-text {
    padding: 0 2rem;
    font-size: u.$font-small;
  }

  &__using-email {
    font-size: u.$font-small;
    text-align: center;
  }

  &__form {
    margin-top: 0.875rem;
    margin-bottom: 1.5rem;
  }

  &__create-account {
    text-align: center;
    font-size: u.$font-small;
    margin-top: 1.5rem;
  }
}
