@use '../util' as u;

.getstarted {
    background-color: hsl(185, 61%, 56%);

    text-align: center;

    h2 {
        margin-bottom: 1.2rem;
        font-weight: 700;
        color: var(--white);

        @include u.breakpoints-up(large) {
            font-size: 3rem;
        }
    }

    p {
        margin-bottom: 0.75rem;
        font-weight: 450;
        line-height: 150%;
        color: var(--white);
    }

    button {
        padding: 1.2rem;
        border: 0.0625rem solid;
        border-radius: 2rem;
        margin-top: 1.5rem;
    }
}