@use "../util" as u;

.grid {
  display: grid;

  //include more properties here
}

.hide-for-mobile {
  @include u.breakpoints-down(medium) {
    display: none;
  }
}

.hide-for-mobile-small {
  @include u.breakpoints-down(small) {
    display: none;
  }
}

.hide-for-desktop {
  @include u.breakpoints-up(large) {
    display: none;
  }
}
