@use "../util" as u;

.oneplatform {
  background-color: hsl(208.42, 90.48%, 95.88%);

  &__section {
    flex-direction: column;

    @include u.breakpoints-up(large) {
      flex-direction: row;
      gap: u.$font-32;
    }

    .text-only {
      margin-bottom: u.$font-32;

      @include u.breakpoints-up(large) {
        margin-bottom: 0;
      }

      h2 {
        color: var(--dark-cerulean);
        font-size: u.$font-28;
        margin-bottom: u.$font-24;

        @include u.breakpoints-up(large) {
          font-size: u.$font-48;
        }
      }

      p {
        // font-size: 1.15rem;
        font-weight: 500;
        color: var(--dark-cerulean);
        margin-bottom: u.$font-32;
        line-height: 1.3;
      }

      #button {
        border: 0.0625rem solid var(--dark-cerulean);
        border-radius: u.$font-16;
        padding: u.$font-16;
      }
    }

    .text-icon {
      @include u.breakpoints-up(large) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: u.$font-12;
      }

      .option {
        padding-right: 0;

        &:not(:last-child) {
          margin-bottom: u.$font-24;
        }

        @include u.breakpoints-up(large) {
          &:nth-child(odd) {
            margin-right: u.$font-16;
          }
        }

        &__title {
          color: var(--midnight-express);
          font-size: u.$font-16;
          font-weight: 700;
          margin-bottom: 0.625rem;

          img {
            display: block;
            margin-bottom: 0.625rem;
          }
        }

        &__description {
          color: var(--dark-cerulean);
          font-size: u.$font-18;
          font-weight: 400;
        }
      }
    }
  }
}
