<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hire Young Talent</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/App/Styling/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="header">
        <nav class="container container--pall flex flex-jc-sb flex-ai-c">
            <!-- HEADER LINKS -->
            <div class="header__left-section">
                <!-- logo -->
                <a href="#" class="logo">MenCruit</a>
                <!-- menu items -->
                <div class="header__links hide-for-mobile">
                    <a href="#"> <span>Platform</span>
                        <!-- icon -->
                        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"
                            class="navbar-item__chevron">
                            <path
                                d="M11.468 5.266 7.996 8.803 4.523 5.267a.883.883 0 0 0-1.261 0 .92.92 0 0 0 0 1.284l4.107 4.182a.88.88 0 0 0 1.262 0l4.107-4.182a.92.92 0 0 0 0-1.285.899.899 0 0 0-1.27 0Z"
                                fill="currentColor"></path>
                        </svg>
                    </a>

                    <a href=" #">
                        <span>Companies</span>
                        <!-- icon -->
                        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"
                            class="navbar-item__chevron">
                            <path
                                d="M11.468 5.266 7.996 8.803 4.523 5.267a.883.883 0 0 0-1.261 0 .92.92 0 0 0 0 1.284l4.107 4.182a.88.88 0 0 0 1.262 0l4.107-4.182a.92.92 0 0 0 0-1.285.899.899 0 0 0-1.27 0Z"
                                fill="currentColor"></path>
                        </svg>
                    </a>
                    <a href="#">
                        <span>Resources</span>
                        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"
                            class="navbar-item__chevron">
                            <path
                                d="M11.468 5.266 7.996 8.803 4.523 5.267a.883.883 0 0 0-1.261 0 .92.92 0 0 0 0 1.284l4.107 4.182a.88.88 0 0 0 1.262 0l4.107-4.182a.92.92 0 0 0 0-1.285.899.899 0 0 0-1.27 0Z"
                                fill="currentColor"></path>
                        </svg>
                    </a>
                    <a href="#">
                        <span>Pricing</span>
                        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"
                            class="navbar-item__chevron">
                            <path
                                d="M11.468 5.266 7.996 8.803 4.523 5.267a.883.883 0 0 0-1.261 0 .92.92 0 0 0 0 1.284l4.107 4.182a.88.88 0 0 0 1.262 0l4.107-4.182a.92.92 0 0 0 0-1.285.899.899 0 0 0-1.27 0Z"
                                fill="currentColor"></path>
                        </svg>
                    </a>
                    <a href="#">
                        <span>About Us</span>
                        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img"
                            class="navbar-item__chevron">
                            <path
                                d="M11.468 5.266 7.996 8.803 4.523 5.267a.883.883 0 0 0-1.261 0 .92.92 0 0 0 0 1.284l4.107 4.182a.88.88 0 0 0 1.262 0l4.107-4.182a.92.92 0 0 0 0-1.285.899.899 0 0 0-1.27 0Z"
                                fill="currentColor"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- MENU ITEMS -->
            <div class="menu hide-for-mobile">
                <!-- menu-item 1 -->
                <div class="header__menu" style="">
                    <div class="header__hire-anywhere header__sub-menu">
                        <div class="header__menu-header">
                            <img src="/App/assets/icons/hire-anywhere.svg" alt="">
                            <span>Hire Anywhere</span>
                        </div>
                        <a href="#">
                            <div class="header__menu-sub-header">EOR</div>
                            <span class="header__menu-sub-header-text">Hire employees abroad</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Contractor</div>
                            <span class="header__menu-sub-header-text">Hire contractors globally</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Shield</div>
                            <span class="header__menu-sub-header-text">Fend off misclassification
                                risks</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Immigration</div>
                            <span class="header__menu-sub-header-text">Get visa support worldwide</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Background checks</div>
                            <span class="header__menu-sub-header-text">Run compliant checks globally</span>
                        </a>
                    </div>
                    <div class="header__manage-team header__sub-menu">
                        <div class="header__menu-header">
                            <img src="/App/assets/icons/manage-your-team.svg" alt="">
                            <span>Manage Your Team</span>
                        </div>
                        <a href="#">
                            <div class="header__menu-sub-header">MenCruit HR</div>
                            <span class="header__menu-sub-header-text">Manage your whole workforce through
                                MenCruit</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Engage</div>
                            <span class="header__menu-sub-header-text">Slack plugins that let your team stay
                                productive
                                and engaged</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Equipment</div>
                            <span class="header__menu-sub-header-text">Equip your global team</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Equity</div>
                            <span class="header__menu-sub-header-text">Provide global teams with
                                equity</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Workspaces</div>
                            <span class="header__menu-sub-header-text">Flexible workspaces anywhere</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Integrations</div>
                            <span class="header__menu-sub-header-text">Automate your HR workflow</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">API</div>
                            <span class="header__menu-sub-header-text">Supercharge your product and
                                processes</span>
                        </a>
                    </div>
                    <div class="header__manage-team header__sub-menu">
                        <div class="header__menu-header">
                            <img src="/App/assets/icons/pay-globally.svg" alt="">
                            <span>Pay Globally</span>
                        </div>
                        <a href="#">
                            <div class="header__menu-sub-header">Payroll</div>
                            <span class="header__menu-sub-header-text">Run payroll in 100+ countries</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">PEO</div>
                            <span class="header__menu-sub-header-text">Manage payroll, benefits, and HR for
                                US teams</span>
                        </a>
                    </div>
                </div>

                <!-- menu-item 2 -->
                <div class="header__menu">
                    <div class="header__business-size header__sub-menu">
                        <div class="header__menu-header">
                            <img src="/App/assets/icons/business-size.svg" alt="">
                            <span>Business Size</span>
                        </div>
                        <a href="#">
                            <div class="header__menu-sub-header">Startup</div>
                            <span class="header__menu-sub-header-text">Get started on the right foot by compliantly
                                hiring globally</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Enterprise</div>
                            <span class="header__menu-sub-header-text">Effortlessly plug MenCruit into your existing
                                workflows</span>
                        </a>
                    </div>
                    <div class="header__solutions header__sub-menu">
                        <div class="header__menu-header">
                            <img src="/App/assets/icons/solutions.svg" alt="">
                            <span>Solutions</span>
                        </div>
                        <a href="#">
                            <div class="header__menu-sub-header">Stay Compliant</div>
                            <span class="header__menu-sub-header-text">Put your mind at ease</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Run Global Payroll</div>
                            <span class="header__menu-sub-header-text">Run payroll in 100+ countries</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Industries</div>
                            <span class="header__menu-sub-header-text">Stay at the forefront regardless of your
                                industry</span>
                        </a>
                    </div>
                    <div class="header__for-teams header__sub-menu">
                        <div class="header__menu-header">
                            <img src="/App/assets/icons/for-teams.svg" alt="">
                            <span>For Teams</span>
                        </div>
                        <a href="#">
                            <div class="header__menu-sub-header">Finance teams</div>
                            <span class="header__menu-sub-header-text">Save hours on admin and payroll</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Legal teams</div>
                            <span class="header__menu-sub-header-text">Hire abroad without legal admin</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Hiring managers</div>
                            <span class="header__menu-sub-header-text">Hit your hiring targets faster</span>
                        </a>
                    </div>
                </div>

                <!-- menu-item 3 -->
                <div class="header__menu">
                    <div class="header__benefits header__sub-menu">
                        <div class="header__menu-header">
                            <img src="/App/assets/icons/business-size.svg" alt="">
                            <span>Benefits</span>
                        </div>
                        <a href="#">
                            <div class="header__menu-sub-header">About us</div>
                            <span class="header__menu-sub-header-text">Everything you'd want to know</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Compare competitors</div>
                            <span class="header__menu-sub-header-text">Why choose MenCruit</span>
                        </a>
                    </div>
                    <div class="header__solutions header__sub-menu">
                        <div class="header__menu-header">
                        </div>
                        <a href="#">
                            <div class="header__menu-sub-header">Case studies</div>
                            <span class="header__menu-sub-header-text">How we help other companies</span>
                        </a>
                        <a href="#">
                            <div class="header__menu-sub-header">Solutions</div>
                            <span class="header__menu-sub-header-text">Enhance your global growth</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- HEADER BUTTONS -->
            <div class="right-section">
                <a href="#" class="button btnLogin">Log In</a>
                <a href="#" class="button btnSignup">Sign Up</a>

                <!-- hamburger -->
                <a id="btnhamburger" class="header__toggle hide-for-desktop">
                    <span></span><span></span><span></span>
                </a>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="hero__section container container--px flex">
            <div class="hero__text-content">
                <!-- <h1>Recruit, track and mentor your future staff from young age!</h1> -->
                <!-- <h1>Recruit, track and mentor young talent with AI</h1> -->
                <!-- <h1>Build your future workforce with our smart solution</h1> -->
                <h1>Build your future talent with our smart solution</h1>

                <p>We're simplifying every aspect of managing a worldwide team, from benefits and equity to working
                    visas and equipment. It's one platform made to get you set up compliantly in just 5 minutes.
                </p>

                <button class="cta-button">
                    Get Started
                </button>
            </div>

            <div class="hero__image-content">
                <img src="/App/assets/images/brume-your-future-stuff.jpg" alt="pickthebest image">
            </div>
        </div>

        <div class="logos container container--px container--pb">
            <h3>Used by <strong>5,000+ businesses</strong> from small startups to household names</h3>

            <div class="__looper">
                <img src="/App/assets/logos/national-foods-logo.svg" alt="national foods logo">
                <img src="/App/assets/logos/seed.co-logo.svg" alt="seed.co logo">
                <img src="/App/assets/logos/telecel-logo.svg" alt="telecel logo">
                <img src="/App/assets/logos/cbz-cooperation-logo2.svg" alt="cbz cooperation logo">
                <img src="/App/assets/logos/tancanda-logo.svg" alt="tancanda logo">
                <img src="/App/assets/logos/air-zimbabwe-logo.svg" alt="air-zimbabwe-logo">
                <img src="/App/assets/logos/cafca-logo.svg" alt="cafca logo">
                <img src="/App/assets/logos/telone-logo.svg" alt="telone logo">
                <img src="/App//assets/logos/econet-wireless-logo.svg" alt="econet wireless logo">
                <img src="/App/assets/logos/hwange-colliery-logo.svg" alt="hwange colliery logo">
            </div>

            <div class="__looper">
                <img src="/App/assets/logos/national-foods-logo.svg" alt="national foods logo">
                <img src="/App/assets/logos/seed.co-logo.svg" alt="seed.co logo">
                <img src="/App/assets/logos/telecel-logo.svg" alt="telecel logo">
                <img src="/App/assets/logos/cbz-cooperation-logo2.svg" alt="cbz cooperation logo">
                <img src="/App/assets/logos/tancanda-logo.svg" alt="tancanda logo">
                <img src="/App/assets/logos/air-zimbabwe-logo.svg" alt="air-zimbabwe-logo">
                <img src="/App/assets/logos/cafca-logo.svg" alt="cafca logo">
                <img src="/App/assets/logos/telone-logo.svg" alt="telone logo">
                <img src="/App//assets/logos/econet-wireless-logo.svg" alt="econet wireless logo">
                <img src="/App/assets/logos/hwange-colliery-logo.svg" alt="hwange colliery logo">
            </div>
        </div>
    </section>

    <section class="oneplatform">
        <div class="oneplatform__section container container--px container--py flex">

            <div class="text-only">
                <h2>Mencruit's the only HR platform with everything you need, for everyone.</h2>
                <p>
                    We're making global team management so easy, businesses don't need to think twice. Whether you want
                    to hire contractors and employees worldwide without opening legal entities, streamline HR for your
                    global team, or consolidate payroll for everyone —Mencruit does it all (while keeping you
                    compliant).
                </p>
                <button id="button">
                    Request Demo
                </button>
            </div>

            <div class="text-icon">
                <div class="option">
                    <div class="option__title">
                        <img src="/App/assets/icons/Employee.svg" alt="employee">
                        EOR employees
                    </div>
                    <div class="option__description">Easily hire and pay employees where you don’t have entities with
                        Mencruit’s worldwide infrastructure.</div>
                </div>
                <div class="option">
                    <div class="option__title">
                        <img src="/App/assets/icons/Employee.svg" alt="employee">
                        EOR employees
                    </div>
                    <div class="option__description">Easily hire and pay employees where you don’t have entities with
                        Mencruit’s worldwide infrastructure.</div>
                </div>
                <div class="option">
                    <div class="option__title">
                        <img src="/App/assets/icons/Contractors.svg" alt="contractors">
                        Contractors
                    </div>
                    <div class="option__description">Work with contractors anywhere with built-in compliance, automated
                        invoicing, and effortless global payments.</div>
                </div>
                <div class="option">
                    <div class="option__title">
                        <img src="/App/assets/icons/Contractors.svg" alt="contractors">
                        Contractors
                    </div>
                    <div class="option__description">Work with contractors anywhere with built-in compliance, automated
                        invoicing, and effortless global payments.</div>
                </div>
            </div>
        </div>
    </section>

    <section class="hrtools container container--pall">
        <!-- text-content -->
        <div class="hrtools__content">
            <h2>See you later 16 <br> different HR tools</h2>
            <p>We’re simplifying every aspect of managing a worldwide team, from benefits and equity to working visas
                and equipment. It’s one platform made to get you set up compliantly in just 5 minutes.</p>
        </div>

        <!-- buttons -->
        <button class="hrtools__left-arrow arrow-buttons"></button>
        <button class="hrtools__right-arrow arrow-buttons"></button>

        <!-- cards -->
        <div class="hrtools__scroll-container" style="margin-top: 3rem;">
            <div class="hrtools__cards-container">
                <!-- card 1 -->
                <div class="hrtools__card" style="background-color: #0e81a0;">
                    <div class="hrtools__card-image" style="background-image: url(/App/assets/icons/Visa\ Support.svg)">
                    </div>
                    <h3>Hire or relocate team members with in-house visa support</h3>
                    <a href="#">Learn More</a>
                </div>
                <!-- card 2 -->
                <div class="hrtools__card" style="background-color: #f78400;">
                    <div class="hrtools__card-image" style="background-image: url(/App/assets/icons/Benefits.svg)">
                    </div>
                    <h3>Offer country-specific benefits at competitive rates</h3>
                    <a href="#">Learn More</a>
                </div>
                <!-- card 3 -->
                <div class="hrtools__card">
                    <div class="hrtools__card-image" style="background-image: url(/App/assets/icons/Equipment.svg)">
                    </div>
                    <h3>Send equipment worldwide, without the hassle</h3>
                    <a href="#">Learn More</a>
                </div>
                <!-- card 4 -->
                <div class="hrtools__card" style="background-color: #a041ff">
                    <div class="hrtools__card-image"
                        style="background-image: url(/App/assets/icons/Coworking\ WeWork.svg)"></div>
                    <h3>Provide your team with co-working access via WeWork</h3>
                    <a href="#">Learn More</a>
                </div>
                <!-- card 5 -->
                <div class="hrtools__card" style="background-color: #1c4396;">
                    <div class="hrtools__card-image"
                        style="background-image: url(/App/assets/icons/Compliant\ Contracts.svg)"></div>
                    <h3>Automate any process and sync data with advanced</h3>
                    <a href="#">Learn More</a>
                </div>
                <!-- card 6 -->
                <div class="hrtools__card" style="background-color: #00ac6b;">
                    <div class="hrtools__card-image" style="background-image: url(/App/assets/icons/Integrations.svg)">
                    </div>
                    <h3>Create compliant contracts with a single click</h3>
                    <a href="#">Learn More</a>
                </div>
                <!-- card 7 -->
                <div class="hrtools__card" style="background-color: #1c4396;">
                    <div class="hrtools__card-image"
                        style="background-image: url(/App/assets/icons/Compliant\ Contracts.svg)"></div>
                    <h3>Automate any process and sync data with advanced integrations</h3>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <section class="benefits">
        <div class="container container--pall">
            <div class="benefits__single-platform flex flex-ai-c gap">
                <div class="benefits__image1 img"></div>
                <div class="benefits__content">
                    <h2>Enjoy the benefits of having everything in a single platform</h2>
                    <p>Save on your tech stack with one HR and payroll platform</p>
                    <p>Reduce onboarding time to just 5 minutes</p>
                    <p>Eliminate errors and duplicate work with one process</p>
                    <p>Get a holistic view of employer costs, headcount and churn</p>
                    <p>Give your whole team a consistent experience</p>
                    <button>Get Started For Free</button>
                </div>
            </div>

            <div class="benefits__global-team flex flex-ai-c gap">
                <div class="benefits__content">
                    <h2>Run compliant payroll for your global team in minutes</h2>
                    <p>Pay contractors, EORs, and direct employees on autopilot</p>
                    <p>We handle taxes, provide benefits, payslips, and way more</p>
                    <p>Eliminate admin with automated contractor invoicing</p>
                    <p>Give your team flexibility with 15+ global payment options</p>
                    <p>Local, legal, tax, and accounting expertise just a click away</p>
                    <button>Get Started For Free</button>
                </div>
                <div class="benefits__image2 img"></div>
            </div>
        </div>
    </section>

    <section class="getstarted container container--pall">
        <h2>Get started with us today</h2>
        <p>Join the other 500+ companies managing their global teams with us</p>
        <button>Request A Demo</button>
    </section>

    <footer class="footer">
        <div class="footer__container container container--pall">
            <div class="footer__socials footer__left-section">
                <a class="footer__logo logo">MenCruit</a>
                <ul class="footer__menu">
                    <li><a href="https://www.facebook.com/" target="_blank">
                            <img src="/App/assets/icons/socials/facebook-blue-social-icon.svg" alt="facebook social">
                        </a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank">
                            <img src="/App/assets/icons/socials/linkedin-social-icon.svg" alt="instagram social">
                        </a></li>
                    <li><a href="https://www.instagram.com/" target="_blank">
                            <img src="/App/assets/icons/socials/instagram-social-media.png" alt="instagram social">
                        </a></li>
                    <li><a href="https://www.x.com/" target="_blank">
                            <img src="/App/assets/icons/socials/x-twitter-social.svg" alt="twiter social">
                        </a></li>
                    <li><a href="https://wa.me/263783948647" target="_blank">
                            <img src="/App/assets/icons/socials/whatsapp-social.svg" alt="whatsapp social">
                        </a></li>
                    <li><a href="https://www.youtube.com/">
                            <img src="/App/assets/icons/socials/youtube-social-icon.svg" alt="youtube social">
                        </a></li>
                </ul>
                <div class="footer__copyright">
                    Copyright &#169; 2023, Tfeadzwa Tan<br />All rights reserved.
                </div>
            </div>

            <div class="footer__solutions">
                <div class="footer__heading">SOLUTIONS</div>
                <ul class="footer__menu">
                    <li><a href="#">Culture</a></li>
                    <li><a href="#">HR Automation</a></li>
                    <li><a href="#">DEI&B</a></li>
                    <li><a href="#">Pay transparency</a></li>
                    <li><a href="#">Integrations</a></li>
                </ul>
            </div>

            <div class="platform">
                <div class="footer__heading">PLATFORM</div>
                <ul class="footer__menu">
                    <li><a href="#">Platform Overview</a></li>
                    <li><a href="#">Core HR</a></li>
                    <li><a href="#">Onboarding</a></li>
                    <li><a href="#">Time and Attendance</a></li>
                    <li><a href="#">Compensation</a></li>
                    <li><a href="#">Payroll Hub</a></li>
                    <li><a href="#">Time Off</a></li>
                    <li><a href="#">Surveys</a></li>
                    <li><a href="#">Performance</a></li>
                    <li><a href="#">People Analytics</a></li>
                    <li><a href="#">Your Voice</a></li>
                    <li><a href="#">Workforce Planning</a></li>
                </ul>
            </div>

            <div class="resources">
                <div class="footer__heading">RESOURCES</div>
                <ul class="footer__menu">
                    <li><a href="#">Resource Center</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Case Studies</a></li>
                    <li><a href="#">HR Guides</a></li>
                    <li><a href="#">Product Briefs</a></li>
                    <li><a href="#">HR Glossary</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">HR Tools</a></li>
                    <li><a href="#">Webinars &#38; Events</a></li>
                    <li><a href="#">Compare</a></li>
                    <li><a href="#">Learn Onboarding</a></li>
                </ul>
            </div>

            <div class="meetus">
                <div class="footer__heading">MEET US</div>
                <ul class="footer__menu">
                    <li><a href="#">Request Demo</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Customers</a></li>
                    <li><a href="#">Why Us</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">News and Awards</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="/App/js/home.js" async defer></script>
</body>

</html>