<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Signup | MenCruit signup</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/dist/style.css" />
  </head>
  <body style="background-color: rgb(244, 243, 246)">
    <div class="signup-form">
      <div class="signup">
        <header class="header">
          <nav class="container--pall flex flex-jc-sb flex-ai-c">
            <!-- Left-Section -->
            <div class="header__left-section">
              <!-- logo -->
              <a href="../views/home.html" class="logo signup__logo"
                >MenCruit</a
              >
            </div>

            <!-- Right-Section -->
            <div class="right-section">
              <div class="signup__login hide-for-desktop">
                <a href="#" class="button btn-help hide-for-desktop">
                  <svg focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                    <path
                      d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"
                    ></path>
                  </svg>
                  Help
                </a>
                <a
                  href="./login.html"
                  target="_parent"
                  class="button hide-for-desktop"
                  >Log In</a
                >
              </div>

              <div class="hide-for-mobile">
                <span>Already have an account?</span>
                <a href="./login.html" target="_parent" class="button"
                  >Log In</a
                >
              </div>
            </div>
          </nav>
        </header>

        <div
          class="signup__side-illustration side-ill-container hide-for-mobile"
        >
          <div class="signup__side-illustration-content">
            <h2 class="h2-content"></h2>
            <h4 class="h4-content"></h4>
          </div>
          <div class="signup__side-illustration-image">
            <img class="img-content" alt="signup image" />
          </div>
        </div>

        <main class="signup__container container--pall">
          <div class="signup__tabs-container">
            <a
              class="button-back signup-form__button-back"
              title="return to previous page"
              href="../views/signup.html"
            >
              <svg focusable="false" aria-hidden="true" viewBox="0 0 24 24">
                <path
                  d="m9 19 1.41-1.41L5.83 13H22v-2H5.83l4.59-4.59L9 5l-7 7 7 7z"
                ></path>
              </svg>
              <div>Back</div>
            </a>

            <h1 class="signup__title">Sign up on MenCruit</h1>
            <h3 class="signup__subtitle">
              Sign up with your work Google account or use the form.
            </h3>

            <button
              type="button"
              class="button-google signup-form__google-login-button flex flex-jc-c flex-ai-c"
            >
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0)">
                  <path
                    d="M17.6429 9.2067C17.6429 8.59491 17.5933 7.9798 17.4875 7.37793H8.99838V10.8437H13.8597C13.658 11.9614 13.0098 12.9502 12.0607 13.5786V15.8273H14.9609C16.664 14.2598 17.6429 11.9449 17.6429 9.2067Z"
                    fill="#4285F4"
                  ></path>
                  <path
                    d="M8.99832 18C11.4257 18 13.4727 17.203 14.9641 15.8273L12.0639 13.5786C11.257 14.1275 10.2153 14.4384 9.00162 14.4384C6.65365 14.4384 4.66284 12.8543 3.94853 10.7246H0.955692V13.0428C2.48353 16.0819 5.59541 18 8.99832 18Z"
                    fill="#34A853"
                  ></path>
                  <path
                    d="M3.94531 10.7246C3.56831 9.60685 3.56831 8.39649 3.94531 7.27872V4.96051H0.955782C-0.32072 7.5036 -0.32072 10.4997 0.955782 13.0428L3.94531 10.7246Z"
                    fill="#FBBC04"
                  ></path>
                  <path
                    d="M8.99832 3.56164C10.2814 3.54179 11.5216 4.02462 12.4508 4.91089L15.0204 2.34135C13.3933 0.813518 11.2338 -0.0264599 8.99832 -3.85195e-06C5.59541 -3.85195e-06 2.48353 1.91806 0.955692 4.9605L3.94522 7.2787C4.65623 5.14569 6.65035 3.56164 8.99832 3.56164Z"
                    fill="#EA4335"
                  ></path>
                </g>
                <defs>
                  <clippath id="clip0">
                    <rect width="17.6428" height="18" fill="white"></rect>
                  </clippath>
                </defs>
              </svg>
              <div class="login__btn-text">Log In Using Google</div>
            </button>

            <div class="signup__seperator flex flex-ai-c">
              <div class="signup__seperate"></div>
              <div class="signup__seperate-text">or</div>
              <div class="signup__seperate"></div>
            </div>
          </div>

          <form id="signup-form" class="signup__form">
            <div class="signup__input-fields flex flex-dir-c">
              <div class="input-field">
                <input
                  class="input-field__text-input"
                  type="text"
                  id="first-name"
                  name="first-name"
                  placeholder=""
                  required
                />
                <label for="text" class="input-field__label">First Name</label>
              </div>

              <div class="input-field">
                <input
                  class="input-field__text-input"
                  type="text"
                  id="last-name"
                  name="last-name"
                  placeholder=""
                  required
                />
                <label for="text" class="input-field__label">Last Name</label>
              </div>

              <div class="input-field">
                <input
                  class="input-field__text-input"
                  type="text"
                  id="preferred-name"
                  name="prefered-name"
                  placeholder=""
                />
                <label for="text" class="input-field__label"
                  >Preferred name (Optional)</label
                >
              </div>

              <div class="input-field">
                <input
                  class="input-field__text-input"
                  type="email"
                  id="email"
                  name="email"
                  placeholder="example@example.com"
                  required
                />
                <label for="text" class="input-field__label"
                  >Email address</label
                >
              </div>

              <div class="input-field">
                <input
                  class="input-field__text-input"
                  type="password"
                  id="password"
                  name="password"
                  placeholder="Type your password"
                  required
                />
                <label for="password" class="input-field__label"
                  >Password</label
                >
              </div>

              <!-- select field: mediator -->
              <div class="field-select field-mediator signup-form__mediator">
                <button
                  class="field-select__button select-button"
                  type="button"
                  title="Select"
                  role="combobox"
                  aria-labelledby="select button"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  aria-controls="dropdown-menu"
                >
                  <span class="field-select__selected-value selected-value"
                    >How did you hear about MenCruit?</span
                  >
                  <svg
                    class="arrow-icon"
                    height="24"
                    width="24"
                    focusable="false"
                    aria-hidden="true"
                    viewBox="0 0 24 24"
                    fill="var(--royal-blue)"
                  >
                    <path
                      d="M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z"
                    ></path>
                  </svg>
                </button>

                <ul
                  class="field-select__dropdown dropdown-menu"
                  role="listbox"
                  id="list-dropdown"
                >
                  <li class="field-select__dropdown-item" role="option">
                    <input type="radio" id="company" name="mediator" />
                    <label for="company">Company</label>
                  </li>
                  <li class="field-select__dropdown-item" role="option">
                    <input type="radio" id="employee" name="mediator" />
                    <label for="employee">Employee/Contractor</label>
                  </li>
                  <li class="field-select__dropdown-item" role="option">
                    <input type="radio" id="referred" name="mediator" />
                    <label for="referred">Referred/Recommended</label>
                  </li>
                  <li role="option" class="field-select__dropdown-item">
                    <input type="radio" id="email-invite" name="mediator" />
                    <label for="email-invite">Email invite</label>
                  </li>
                  <li role="option" class="field-select__dropdown-item">
                    <input type="radio" id="google" name="mediator" />
                    <label for="google">Google</label>
                  </li>
                  <li role="option" class="field-select__dropdown-item">
                    <input type="radio" id="facebook" name="mediator" />
                    <label for="facebook">Facebook</label>
                  </li>
                  <li role="option" class="field-select__dropdown-item">
                    <input type="radio" id="twitter" name="mediator" />
                    <label for="twitter">Twitter</label>
                  </li>
                  <li role="option" class="field-select__dropdown-item">
                    <input type="radio" id="linkedin" name="mediator" />
                    <label for="linkedin">LinkedIn</label>
                  </li>
                  <li role="option" class="field-select__dropdown-item">
                    <input type="radio" id="other" name="mediator" />
                    <label for="other">Other</label>
                  </li>
                </ul>
              </div>

              <!-- select field: source-->
              <div
                class="field-select field-source signup-form__source"
                is-visible="false"
              >
                <button
                  class="field-select__button select-button"
                  type="button"
                  title="Select"
                  role="combobox"
                  aria-labelledby="select button"
                  aria-haspopup="listbox"
                  aria-expanded="false"
                  aria-controls="select-dropdown"
                >
                  <span class="field-select__selected-value selected-value"
                    >Source</span
                  >
                  <svg
                    class="arrow-icon"
                    height="24"
                    width="24"
                    focusable="false"
                    aria-hidden="true"
                    viewBox="0 0 24 24"
                    fill="var(--royal-blue)"
                  >
                    <path
                      d="M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z"
                    ></path>
                  </svg>
                </button>

                <ul
                  class="field-select__dropdown dropdown-menu"
                  role="listbox"
                  id="list-dropdown"
                >
                  <li class="field-select__dropdown-item" role="option">
                    <input type="radio" id="hr-services" name="source" />
                    <label for="hr-services">HR Services</label>
                  </li>
                  <li class="field-select__dropdown-item" role="option">
                    <input type="radio" id="financial-services" name="source" />
                    <label for="financial-services"
                      >Financial Services (Accounting firm/Fractional
                      CF0)</label
                    >
                  </li>
                  <li class="field-select__dropdown-item" role="option">
                    <input type="radio" id="vc" name="source" />
                    <label for="vc">VC</label>
                  </li>
                  <li role="option" class="field-select__dropdown-item">
                    <input type="radio" id="tech-company" name="source" />
                    <label for="tech-company">Another Tech Company</label>
                  </li>
                  <li role="option" class="field-select__dropdown-item">
                    <input type="radio" id="recruiter" name="source" />
                    <label for="recruiter">Recruiter</label>
                  </li>
                  <li role="option" class="field-select__dropdown-item">
                    <input type="radio" id="y-combinator" name="source" />
                    <label for="y-combinator">Y Combinator</label>
                  </li>
                  <li role="option" class="field-select__dropdown-item">
                    <input type="radio" id="others" name="source" />
                    <label for="others">Other</label>
                  </li>
                </ul>
              </div>

              <!-- input field: Explain -->
              <div class="input-field field-explain" is-visible="false">
                <input
                  class="input-field__text-input"
                  type="how-you-head-about-us"
                  id="how-you-head-about-us"
                  name="text"
                  placeholder=""
                  required
                />
                <label for="password" class="input-field__label">
                  Explain how you heard about MenCruit?
                </label>
              </div>
            </div>

            <button
              class="button-blue signup-form__create-account"
              type="button"
            >
              Create your MenCruit account
            </button>
          </form>

          <div class="signup-form__terms-services-text">
            By confirming your email, you agree to our
            <a href="#">Terms of Service</a> and that you have read and
            understood our <a href="#">Privacy Policy</a>.
          </div>
        </main>
      </div>
    </div>

    <script type="module" src="../js/signup-form.js"></script>
    <script src="../js/utils/selectField.mjs"></script>
  </body>
</html>
