.oneplatform {
    background-color: hsl(208.42, 90.48%, 95.88%);

    &__section {
        flex-direction: column;

        @include breakpoints-up(large) {
            flex-direction: row;
            gap: 2rem;
        }

        .text-only {
            margin-bottom: 2rem;
            @include breakpoints-up(large){
                margin-bottom: 0;
            }

            h2 {
                color: $darkCerulean;
                font-size: 1.75rem;
                margin-bottom: 1.5rem;

                @include breakpoints-up(large) {
                    font-size: 3rem;
                }
            }

            p {
                // font-size: 1.15rem;
                font-weight: 500;
                color: $darkCerulean;
                margin-bottom: 2rem;
                line-height: 1.3;
            }

            #button {
                border: 0.0625rem solid $darkCerulean;
                border-radius: 1rem;
                padding: 1rem;
            }
        }

        .text-icon {
            @include breakpoints-up(large) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 0.75rem;
            }

            .option {
                padding-right: 0;

                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }

                @include breakpoints-up(large){
                    &:nth-child(odd){
                        margin-right: 1rem;
                    }
                }

                &__title {
                    color: $midnightExpress;
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 0.625rem;

                    img {
                        display: block;
                        margin-bottom: 0.625rem;
                    }
                }

                &__description {
                    color: $darkCerulean;
                    font-size: 1.12rem;
                    font-weight: 300;
                }
            }
        }
    }
}